apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: helpdesk-test
spec:
  template:
    spec:
      containers:
        - name: postgres
          resources:
            requests:
              memory: "256Gi"
              cpu: "100m"
